<template>
    <footer class="bg-gray-900 h-60 fixed-bottom">
        <div class="container max-w-7xl w-100 mx-auto px-2 sm:px-6 lg:pb-4 lg:pt-4">
            <div class="flex items-center justify-center">
                <div class="flex mx-auto">
                    <a
                        href="/"
                        class="bg-gray-900 transition duration-500 ease-in-out transform hover:-translate-y-2 hover:scale-102 text-white lg:px-2 lg:pr-2 md:pr-2 sm:pr-2"
                    >
                        Home
                    </a>

                    <a
                        href="/projects"
                        class="bg-gray-900 transition duration-500 ease-in-out transform hover:-translate-y-2 hover:scale-102 text-white lg:px-3 md:pr-2"
                    >
                        Projects
                    </a>

                    <a
                        href="/resume"
                        class="bg-gray-900 transition duration-500 ease-in-out transform hover:-translate-y-2 hover:scale-102 text-white lg:px-3 md:pr-2"
                    >
                        Resume
                    </a>

                    <a
                        href="/contact"
                        class="bg-gray-900 transition duration-500 ease-in-out transform hover:-translate-y-2 hover:scale-102 text-white lg:px-3 md:pr-2"
                    >
                        Contact
                    </a>

                    <a
                        href="/blog"
                        class="bg-gray-900 transition duration-500 ease-in-out transform hover:-translate-y-2 hover:scale-102 text-white lg:px-3"
                    >
                        Blog <em>(Coming Soon)</em>
                    </a>
                </div>
            </div>
            <div class="flex items-center justify-center">
                <div class="flex">
                    <p
                        class="text-gray-400"
                    >Made with <FontAwesomeIcon
                        icon="heart"
                        class="text-love text-red-700"
                    /> by Richard Garcia.</p>
                </div>
            </div>
            <div class="flex items-center justify-center">
                <div class="flex">
                    <p
                        class="lg:pt-2 text-gray-400"
                    >
                        ©Copyright 2019-{{ currentYear }} Richard Garcia. All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome';
    import {faCopyright, faHeart} from '@fortawesome/free-solid-svg-icons';
    import {faFacebookSquare, faGitlab, faInstagram, faTwitter} from '@fortawesome/free-brands-svg-icons';
    import {library} from '@fortawesome/fontawesome-svg-core';

    library.add(faCopyright, faFacebookSquare, faGitlab, faHeart, faInstagram, faTwitter);

    export default {
        name: "Footer",
        components: {
            FontAwesomeIcon,
        },
        data() {
            return {
                browser: {
                    width: 0,
                },
            }
        },
        created() {
            this.browser.width = window.innerWidth;
        },
        computed: {
            currentYear() {
                return new Date().getFullYear();
            }
        },
        methods: {},
    }
</script>

<style
    scoped
    lange="sass"
>

</style>
