<template>
    <div class="flex items-center justify-center sm:items sm:justify-start md:justify-start">
        <div class="hidden lg:block sm:ml-6">
            <div class="flex">
                <a
                    :class="[{'bg-red-800 text-white': this.navigationUrl === '/'}]"
                    class="flex transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-100 px-3 py-2 rounded-md text-md font-medium leading-5 text-red-100 focus:outline-none focus:text-white focus:bg-red-700 hover:text-white hover:bg-red-600"
                    href="/"
                >
                    <FontAwesomeIcon
                        icon="home"
                        class="fa"
                    />

                    <p
                        class="nav-item"
                    >
                        Home
                    </p>
                </a>

                <a
                    :class="[{'bg-red-800 text-white': this.navigationUrl === '/projects'}]"
                    class="flex transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-100 px-3 py-2 rounded-md text-md font-medium leading-5 text-red-100 focus:outline-none focus:text-white focus:bg-red-700 hover:text-white hover:bg-red-600"
                    href="/projects"
                >
                    <FontAwesomeIcon
                        icon="pencil-ruler"
                        class="fas"
                    />

                    <p
                        class="nav-item"
                    >
                        Projects
                    </p>
                </a>

                <a
                    :class="[{'bg-red-800 text-white': this.navigationUrl === '/resume'}]"
                    class="flex transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-100 px-3 py-2 rounded-md text-md font-medium leading-5 text-red-100 focus:outline-none focus:text-white focus:bg-red-700 hover:text-white hover:bg-red-600"
                    href="/resume"
                >
                    <FontAwesomeIcon
                        icon="file-alt"
                        class="far"
                    />

                    <p
                        class="nav-item"
                    >
                        Resume
                    </p>
                </a>

                <a
                    :class="[{'bg-red-800 text-white': this.navigationUrl === '/contact'}]"

                    class="flex transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-100 px-3 py-2 rounded-md text-md font-medium leading-5 text-red-100 focus:outline-none focus:text-white focus:bg-red-700 hover:text-white hover:bg-red-600"
                    href="/contact"
                >
                    <FontAwesomeIcon
                        icon="envelope"
                        class="far"
                    />

                    <p
                        class="nav-item"
                    >
                        Contact
                    </p>

                </a>

                <!-- List social links inline (LinkedIn, Twitter, Facebook) -->
                <a
                    href="https://www.facebook.com/richard.lira.96"
                    target="_blank"
                    :class="['social-media-icon', 'animate__animated', {'animate__jello': facebookHover}, 'ml-3', 'mr-2', 'text-xs', 'text-red-200', 'hover:text-blue-600']"
                    @mouseover="facebookHover = true"
                    @mouseleave="facebookHover = false"
                >
                    <FontAwesomeIcon
                        :icon="['fab', 'facebook-square']"
                        class="fab fa-2x"
                    />

                    <p class="lg:hidden xl:hidden md:hidden">Facebook</p>
                </a>

                <a
                    href=""
                    :class="['social-media-icon', 'animate__animated', {'animate__swing': twitterHover}, 'ml-3', 'text-xs', 'text-red-200', 'hover:text-blue-400']"
                    @mouseover="twitterHover = true"
                    @mouseleave="twitterHover = false"
                >
                    <FontAwesomeIcon
                        :icon="['fab', 'twitter']"
                        class="fab fa-2x"
                    />

                    <p
                        class="lg:hidden xl:hidden md:hidden"
                    >
                        Twitter
                    </p>
                </a>

                <a
                    href=""
                    :class="['social-media-icon', 'animate__animated', {'animate__tada': instagramHover}, 'ml-3', 'text-xs', 'text-red-200', 'hover:text-red-100']"
                    @mouseover="instagramHover = true"
                    @mouseleave="instagramHover = false"
                >
                    <FontAwesomeIcon
                        :icon="['fab', 'instagram']"
                        class="fab fa-2x"
                    />

                    <p
                        class="lg:hidden xl:hidden md:hidden"
                    >
                        Instagram
                    </p>
                </a>

                <a
                    href=""
                    :class="['social-media-icon', 'animate__animated', {'animate__tada': gitlabHover}, 'ml-3', 'text-xs', 'text-red-200', 'hover:text-orange-500']"
                    @mouseover="gitlabHover = true"
                    @mouseleave="gitlabHover = false"
                >
                    <FontAwesomeIcon
                        :icon="['fab', 'gitlab']"
                        class="fab fa-2x"
                    />

                    <p
                        class="lg:hidden xl:hidden md:hidden"
                    >
                        Gitlab
                    </p>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome';
    import {faEnvelope, faFileAlt, faHome, faPencilRuler} from '@fortawesome/free-solid-svg-icons';
    import {faFacebookSquare, faGitlab, faInstagram, faTwitter} from '@fortawesome/free-brands-svg-icons'
    import {library} from '@fortawesome/fontawesome-svg-core';

    library.add(faEnvelope, faFacebookSquare, faFileAlt, faGitlab, faInstagram, faHome, faPencilRuler, faTwitter);

    export default {
        name: "NavItem",
        components: {
            FontAwesomeIcon,
        },
        props: {},
        data() {
            return {
                facebookHover: false,
                gitlabHover: false,
                instagramHover: false,
                selected: '/',
                twitterHover: false,
            }
        },
        created() {},
        computed: {
            ...mapState([
                'navigationUrl',
            ]),
        },
        methods: {},
    }
</script>

<style scoped lang="sass">
    .nav-item
        margin-left: 0.30rem

    .social-media-icon
        margin-top: 0.25rem
</style>
