<template>
    <div>
        <nav
            :class="[{'scrolled': !view.atTopOfPage}, 'bg-red-700', 'h-60', 'fixed-top']"
        >
            <div class="container max-w-7xl mx-auto px-2 sm:px-6 lg:pb-3 lg:pt-3">
                <div class="relative flex items-center justify-between px-3 h-16">
                    <div class="absolute inset-y-0 left-0 flex items-center lg:hidden">
                        <!-- Mobile menu button-->
                        <button
                            class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-red-800 focus:outline-none focus:bg-red-800 focus:text-white transition duration-150 ease-in-out"
                            aria-label="Main menu"
                            aria-expanded="false"
                            @click="showMobileNavigation = !showMobileNavigation"
                        >
                            <!-- Icon when menu is closed. -->
                            <!-- Menu open: "hidden", Menu closed: "block" -->
                            <svg
                                :class="[{'block': !showMobileNavigation, 'hidden': showMobileNavigation}]"
                                v-model="showMobileNavigation"
                                class="h-6 w-6"
                                stroke="currentColor"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16"
                                />
                            </svg>

                            <!-- Icon when menu is open. -->
                            <!-- Menu open: "block", Menu closed: "hidden" -->
                            <svg
                                :class="[{'block': showMobileNavigation, 'hidden': !showMobileNavigation}]"
                                v-model="showMobileNavigation"
                                class="h-6 w-6"
                                stroke="currentColor"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12"
                                />
                            </svg>
                        </button>
                    </div>

                    <div class="flex-1 flex items-center justify-center lg:items-stretch lg:justify-start w-100">
                        <div class="flex">
                            <div class="flex pr-4">
                                <button
                                    class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-white transition duration-150 ease-in-out"
                                    id="user-menu" aria-label="User menu" aria-haspopup="true">
                                    <a href="/">
                                        <img class="h-8 w-8 rounded-full"
                                             src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                                             alt=""
                                        />
                                    </a>
                                </button>
                            </div>
                            <div class="flex items-center justify-center">
                                <h2 class="text-red-100">
                                    <a href="/" class="text-md">Richard Garcia</a>
                                </h2>
                            </div>
<!--                        <img class="block lg:hidden h-8 w-auto" src="/img/logos/workflow-mark-on-dark.svg"-->
<!--                                  alt="Workflow logo"/>-->
<!--                        <img class="hidden lg:block h-8 w-auto" src="/img/logos/workflow-logo-on-dark.svg"-->
<!--                                  alt="Workflow logo"/>-->
                        </div>
                    </div>

                    <NavItem/>
                </div>
            </div>

            <!--
              Mobile menu, toggle classes based on menu state.
              Menu open: "block", Menu closed: "hidden"
            -->
            <div
                :class="[{'block': showMobileNavigation, 'hidden': !showMobileNavigation}]"
                class="lg:hidden items-center justify-center"
            >
                <div class="px-2 pt-2 pb-3">
                    <a
                        :class="[{'bg-red-900 text-white': this.navigationUrl === '/'}]"
                        class="flex items-center justify-center block px-3 py-2 rounded-md text-base font-medium text-red-100 hover:text-white hover:bg-red-800 focus:outline-none focus:text-white focus:bg-red-900 transition duration-150 ease-in-out"
                        href="/"
                    >
                        <FontAwesomeIcon
                            icon="home"
                            class="fa sm-nav-icon"
                        />

                        <p
                            class="sm-nav-item ml-3"
                        >
                            Home
                        </p>
                    </a>

                    <a
                        :class="[{'bg-red-900 text-white': this.navigationUrl === '/projects'}]"
                        class="flex items-center justify-center mt-1 block px-3 py-2 rounded-md text-base font-medium text-red-100 hover:text-white hover:bg-red-800 focus:outline-none focus:text-white focus:bg-red-900 transition duration-150 ease-in-out"
                        href="/projects"
                    >
                        <FontAwesomeIcon
                            icon="pencil-ruler"
                            class="fa sm-nav-icon ml-2"
                        />

                        <p
                            class="sm-nav-item ml-3"
                        >
                            Projects
                        </p>
                    </a>

                    <a
                        :class="[{'bg-red-900 text-white': this.navigationUrl === '/resume'}]"
                        class="flex items-center justify-center mt-1 block px-3 py-2 rounded-md text-base font-medium text-red-100 hover:text-white hover:bg-red-800 focus:outline-none focus:text-white focus:bg-red-900 transition duration-150 ease-in-out"
                        href="/resume"
                    >
                        <FontAwesomeIcon
                            icon="file-alt"
                            class="fa sm-nav-icon sm-nav-icon-resume"
                        />

                        <p
                            class="sm-nav-item sm-nav-item-resume"
                        >
                            Resume
                        </p>
                    </a>

                    <a
                        :class="[{'bg-red-900 text-white': this.navigationUrl === '/contact'}]"
                        class="flex items-center justify-center mt-1 block px-3 py-2 rounded-md text-base font-medium text-red-100 hover:text-white hover:bg-red-800 focus:outline-none focus:text-white focus:bg-red-900 transition duration-150 ease-in-out"
                        href="/contact"
                    >
                        <FontAwesomeIcon
                            icon="envelope"
                            class="fa sm-nav-icon-contact"
                        />

                        <p
                            class="sm-nav-item"
                        >
                            Contact
                        </p>
                    </a>

                    <!-- List social links inline (LinkedIn, Twitter, Facebook) -->
                    <a
                        href="https://www.facebook.com/richard.lira.96"
                        class="flex items-center justify-center mt-1 block px-3 py-2 rounded-md text-lg text-red-300 hover:text-white hover:bg-red-600 focus:outline-none focus:text-white focus:bg-red-900 transition duration-150 ease-in-out"
                    >
                        <FontAwesomeIcon
                            :icon="['fab', 'facebook-square']"
                            class="fab sm-nav-social-icon sm-nav-social-facebook"
                        />

                        <p
                            class="lg:hidden sm-nav-icon-text"
                        >
                            Facebook
                        </p>
                    </a>

                    <a
                        href="https://twitter.com/richardgarcial_"
                        target="_blank"
                        class="flex items-center justify-center mt-1 block px-3 py-2 rounded-md text-lg text-red-300 hover:text-white hover:bg-red-600 focus:outline-none focus:text-white focus:bg-red-900 transition duration-150 ease-in-out"
                    >
                        <FontAwesomeIcon
                            :icon="['fab', 'twitter']"
                            class="fab sm-nav-social-icon sm-nav-social-twitter"
                        />

                        <p
                            class="lg:hidden sm-nav-icon-text"
                        >
                            Twitter
                        </p>
                    </a>

                    <a
                        href="https://www.instagram.com/garcialrichard/"
                        target="_blank"
                        class="flex items-center justify-center mt-1 block px-3 py-2 rounded-md text-lg text-red-300 hover:text-white hover:bg-red-600 focus:outline-none focus:text-white focus:bg-red-900 transition duration-150 ease-in-out"
                    >
                        <FontAwesomeIcon
                            :icon="['fab', 'instagram']"
                            class="fab sm-nav-social-icon sm-nav-social-instagram"
                        />

                        <p
                            class="lg:hidden sm-nav-icon-text"
                        >
                            Instagram
                        </p>
                    </a>

                    <a
                        href="https://gitlab.com/richard.garcialira"
                        target="_blank"
                        class="flex items-center justify-center mt-1 block px-3 py-2 rounded-md text-lg text-red-300 hover:text-white hover:bg-red-600 focus:outline-none focus:text-white focus:bg-red-900 transition duration-150 ease-in-out"
                    >
                        <FontAwesomeIcon
                            :icon="['fab', 'gitlab']"
                            class="fab sm-nav-social-icon sm-nav-social-gitlab"
                        />

                        <p
                            class="lg:hidden sm-nav-icon-text mr-2"
                        >
                            GitLab
                        </p>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
    import {mapMutations, mapState} from 'vuex';
    import {FontAwesomeIcon} from '@fortawesome/vue-fontawesome';
    import {faEnvelope, faFileAlt, faHome, faPencilRuler} from '@fortawesome/free-solid-svg-icons';
    import {faFacebookSquare, faGitlab, faInstagram, faTwitter} from '@fortawesome/free-brands-svg-icons'
    import {library} from '@fortawesome/fontawesome-svg-core';

    library.add(faEnvelope, faFacebookSquare, faFileAlt, faGitlab, faInstagram, faHome, faPencilRuler, faTwitter);

    export default {
        name: 'NavigationBar',
        components: {
            FontAwesomeIcon,
        },
        data() {
            return {
                facebookHover: false,
                gitlabHover: false,
                instagramHover: false,
                showMobileNavigation: false,
                twitterHover: false,
                view: {
                    atTopOfPage: true,
                },
            }
        },
        beforeMount() {
            window.addEventListener('scroll', this.handleScroll);
        },
        created() {
            this.SET_NAVIGATION_URL(window.location.pathname);
        },
        computed: {
            ...mapState([
                'navigationUrl',
            ]),
        },
        methods: {
            handleScroll() {
                // Function call when the user scrolls, added as a method
                if (window.pageYOffset > 0) {
                    // User isScrolling :)
                    if (this.view.atTopOfPage) this.view.atTopOfPage = false
                } else {
                    // User is at the top of the page
                    if (!this.view.atTopOfPage) this.view.atTopOfPage = true
                }
            },
            ...mapMutations([
                'SET_NAVIGATION_URL',
            ]),
        },
    }
</script>

<style
    scoped
    lang="sass"
>
    @import '../../../sass/app'
    @import '../../../sass/variables'

    nav
        z-index: 10

    nav.scrolled
        border-bottom: 0
        position: fixed
        width: 100%

    .sm-nav-icon-contact
        margin-left: 0.25rem!important

    .sm-nav-icon-resume
        margin-left: 0.40rem

    .sm-nav-icon-text
        margin-left: 0.25rem

    .sm-nav-item
        margin-left: 0.30rem

    .sm-nav-social-icon
        margin-bottom: 0.25rem

    .sm-nav-social-facebook
        margin-left: 1.30rem

    .sm-nav-social-instagram
        margin-left: 1.25rem

    .social-media-icon
        margin-top: 0.25rem
</style>
