<template>
    <div>
        Hello World!
    </div>
</template>

<script>
    export default {
        name: 'Projects',
        data() {
            return {

            }
        },
        created() {},
        computed: {},
        methods: {},
    }
</script>

<style scoped lang="scss">

</style>
